
body{

background-color: #1F2937;
}
*{
    font-family: roboto;
padding: 0;
margin: 0;   
}
.header {
    height: 128px;
    align-items: center;
    max-width: 100%;
 margin-left: 200px;
 margin-right: 200px;
 display: flex;
 justify-content: center;
 
}
.logo{
    
    color: #f9faf8;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 24px;
    font-weight: bolder;
    
}
.navbar{
    
    color: white;
    background-color: #1F2937;
    width: 100%;
    height: 100px;
    display: flex;  
    justify-content: space-between;
}
ul {
    
display: flex;

text-decoration: none;
}
li {
font-size: 18px;
list-style: none;
padding-left: 14px;
padding-top: 14px;
    padding-bottom: 14px;

    
}
a{
text-decoration: none;    
color: #e5e7eb;
}
.body {
    
    display: flex;
    align-items: center;
    background-color: #1F2937; 
    max-width: 100%;  
  margin-left: 200px;
  margin-right: 200px;
  justify-content: space-between;
  

}
.hero {
    
    
    color: white;
    background-color: #1F2937;


}
.header2{
font-size: 48px;
font-weight: bolder;
}
.placehold {   
    text-align: center;

background-color: #e5e7eb;

height: 100px;
right: 100px;





}
